<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My work</title>
    <link rel="stylesheet" href="../static/style.css"
</head>
<h1 id="Welcome">Welcome</h1>


<body class="main">
    
    <div class="form">
        <p>Financial Aid (Student Loan Trust Fund)</p>
        <p>The Students Loan Trust Fund (SLTF) was established 
            in December 2005 under the
             Trustee Incorporation Act 1962, Act 820.</p>
        <P>The objectives of the Trust Fund are to provide financial resou
            rces for the sound management of the Trust for the benefit of stud
            ents and to help promote and facilitate the national ideals enshrined in Arti
            cle 28 and 38 of the 1992 Constitution.</P>
        <p>Students who want to apply for financial aid should vi
            sit the following links to know more about the Trust Fund a
            nd its application process;</p>

        
        <p><ul>
            <li><a href="#">Students Loan Trustfund</a></li>
        <li><a href="#">Financial Aid</a></li>
        <li><a href="#">Financial Aid Application Requirements</a></li> 
        </ul></p>
        </div>
        click <a href="Student_Info.html">HERE <a> to input student info

        </body>
        </html>
